{
    "openapi": "3.0.0",
    "info": {
        "title": "HcmRestApi Scim",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://fa-etsw-dev1-saasfaprod1.fa.ocs.oraclecloud.com:443/hcmRestApi/scim",
            "description": "HcmRestApi Scim",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "basic",
                        "credentials": ""
                    }
                },
                "forceProxy": "always"
            }
        }
    ],
    "paths": {
        "/Users": {
            "get": {
                "operationId": "getUsers2",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUsers"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getUsers2/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "queryParameters": {

                        "attributes": "userName,displayName, active"
                    },
                    "actionHint": "getMany"
                },
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "GetUsers": {
                "type": "object",
                "properties": {
                    "itemsPerPage": {
                        "type": "integer"
                    },
                    "startIndex": {
                        "type": "integer"
                    },
                    "Resources": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "schemas": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "userName": {
                                    "type": "string"
                                },
                                "displayName": {
                                    "type": "string"
                                },
                                "active": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}