{
    "openapi": "3.0.0",
    "info": {
        "title": "Ords Extensions",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://geaf59a9f800a70-cfsatpdev.adb.us-ashburn-1.oraclecloudapps.com/ords/cfs_extensions",
            "description": "Ords Extensions",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "oauth2_client_credentials",
                        "clientIdCredentials": "",
                        "authUrl": ""
                    }
                },
                "forceProxy": "always"
            }
        }
    ],
    "paths": {

        "/cfs_smf_supplier_header_tbl/": {
            "post": {
                "operationId": "postCfs_smf_supplier_header_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_supplier_header_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_supplier_header_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_supplier_header_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_supplier_header_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_supplier_header_tbl/{supplierId},{requestId}": {
            "parameters": [
                {
                    "name": "supplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "requestId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_supplier_header_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_supplier_header_tblSupplierIdRequestIdRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/putCfs_smf_supplier_header_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_supplier_header_tblSupplierIdRequestIdResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_supplier_header_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "update"
                }
            },
            "get": {
                "operationId": "getCfs_smf_supplier_header_tbl",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCfs_smf_supplier_header_tblSupplierIdRequestId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCfs_smf_supplier_header_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/cfs_smf_sites_tbl/": {
            "post": {
                "operationId": "postCfs_smf_sites_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_sites_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_sites_tbl/request_application_json_vb.json",
                                    "summary": "Example stored by VB User"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_sites_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_sites_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_requests_tbl/": {
            "post": {
                "operationId": "postCfs_smf_requests_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_requests_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_requests_tbl/request_application_json_vb.json",
                                    "summary": "Example stored by VB User"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_requests_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_requests_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_requests_tbl/{requestId}": {
            "parameters": [
                {
                    "name": "requestId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_requests_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_requests_tblRequestIdRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/putCfs_smf_requests_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_requests_tblRequestIdResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_requests_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_suppliers_dff_tbl/": {
            "post": {
                "operationId": "postCfs_smf_suppliers_dff_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_suppliers_dff_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_suppliers_dff_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_suppliers_dff_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_suppliers_dff_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_suppliers_dff_tbl/{supplierId},{requestId}": {
            "parameters": [
                {
                    "name": "supplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "requestId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_suppliers_dff_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_suppliers_dff_tblSupplierIdRequestIdRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/putCfs_smf_suppliers_dff_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_suppliers_dff_tblSupplierIdRequestIdResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_suppliers_dff_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "update"
                }
            },
            "get": {
                "operationId": "getGet_supplier_dff_updatesRequestId",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCfs_smf_suppliers_dff_tblSupplierIdRequestId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getGet_supplier_dff_updatesRequestId/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/cfs_smf_contacts_tbl/": {
            "post": {
                "operationId": "postCfs_smf_contacts_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_contacts_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_contacts_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_contacts_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_contacts_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_bus_classifications_tbl/": {
            "post": {
                "operationId": "postCfs_smf_bus_classifications_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_bus_classifications_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_bus_classifications_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_bus_classifications_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_bus_classifications_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_bank_acts_tbl/": {
            "post": {
                "operationId": "postCfs_smf_bank_acts_tbl",
                "requestBody": {
                    "description": "Request for application/json",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_bank_acts_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "summary": "Example stored by VB User",
                                    "externalValue": "./examples/postCfs_smf_bank_acts_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_bank_acts_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_bank_acts_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_contact_add_tbl/": {
            "post": {
                "operationId": "postCfs_smf_contact_add_tbl",
                "requestBody": {
                    "description": "Request for application/json",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_contact_add_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "summary": "Example stored by VB User",
                                    "externalValue": "./examples/postCfs_smf_contact_add_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_contact_add_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_contact_add_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_delete_tbls/": {
            "post": {
                "operationId": "postCfs_smf_delete_tbls",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_delete_tblsRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_delete_tbls/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_delete_tblsResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_delete_tbls/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
               },
                "x-vb": {
                    "actionHint": "delete"
                }
            }
        },
        "/cfs_smf_address_tbl/": {
            "post": {
                "operationId": "postCfs_smf_address_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCfs_smf_address_tblRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCfs_smf_address_tbl/request_application_json_vb.json",
                                    "summary": "Example stored by VB User"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCfs_smf_address_tblResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCfs_smf_address_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/cfs_smf_requests_tbl/{request_Id}": {
            "parameters": [
                {
                    "name": "request_Id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getCfs_smf_requests_tbl",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCfs_smf_requests_tblRequest_Id"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCfs_smf_requests_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/cfs_smf_bus_classifications_tbl/{classification_id},{supplier_id},{request_id}": {
            "parameters": [
                {
                    "name": "classification_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "request_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getCfs_smf_bus_classifications_tbl",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCfs_smf_bus_classifications_tblClassification_idSupplier_idRequest_id"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCfs_smf_bus_classifications_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            },
            "put": {
                "operationId": "putCfs_smf_bus_classifications_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_bus_classifications_tblClassification_idSupplier_idRequest_idRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/putCfs_smf_bus_classifications_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_bus_classifications_tblClassification_idSupplier_idRequest_idResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_bus_classifications_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_address_tbl/{supplier_address_id},{supplier_id},{request_Id}": {
            "parameters": [
                {
                    "name": "supplier_address_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "request_Id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_address_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_requests_tblSupplier_address_idSupplier_idRequest_IdRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/putCfs_smf_address_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_address_tblSupplier_address_idSupplier_idRequest_IdResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_address_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_contact_add_tbl/{supplier_contact_address_id},{supplier_contact_id},{supplier_id},{request_id}": {
            "parameters": [
                {
                    "name": "supplier_contact_address_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_contact_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "request_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_contact_add_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_contact_add_tblSupplier_contact_address_idSupplier_contact_idSupplier_idRequest_idRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/putCfs_smf_contact_add_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_contact_add_tblSupplier_contact_address_idSupplier_contact_idSupplier_idRequest_idResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_contact_add_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_contacts_tbl/{supplier_contact_id},{supplier_id},{request_id}": {
            "parameters": [
                {
                    "name": "supplier_contact_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "request_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_contacts_tbl",
                "requestBody": {
                    "description": "Request for application/json",
                    "content": {
                        "application/json": {
                            "examples": {
                                "vb": {
                                    "summary": "Example stored by VB User",
                                    "externalValue": "./examples/putCfs_smf_contacts_tbl/request_application_json_vb.json"
                                }
                            },
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_contacts_tblSupplier_contact_idSupplier_idRequest_idRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_contacts_tblSupplier_contact_idSupplier_idRequest_idResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_contacts_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_sites_tbl/{supplier_site_id},{supplier_id},{request_id}": {
            "parameters": [
                {
                    "name": "supplier_site_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "request_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_sites_tbl",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_sites_tblSupplier_idSupplier_site_idRequest_idRequest"
                            },
                            "examples": {
                                "vb": {
                                    "summary": "Example stored by VB User",
                                    "externalValue": "./examples/putCfs_smf_sites_tbl/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_sites_tblSupplier_site_idSupplier_idRequest_idResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_sites_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_bank_acts_tbl/{supplier_site_id},{supplier_id},{request_id},{account_id}": {
            "parameters": [
                {
                    "name": "supplier_site_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "supplier_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "request_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "operationId": "putCfs_smf_bank_acts_tbl",
                "requestBody": {
                    "description": "Request for application/json",
                    "content": {
                        "application/json": {
                            "examples": {
                                "vb": {
                                    "summary": "Example stored by VB User",
                                    "externalValue": "./examples/putCfs_smf_bank_acts_tbl/request_application_json_vb.json"
                                }
                            },
                            "schema": {
                                "$ref": "#/components/schemas/PutCfs_smf_bank_acts_tblSupplier_site_idSupplier_idRequest_idAccount_idRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutCfs_smf_bank_acts_tblSupplier_site_idSupplier_idRequest_idAccount_idResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/putCfs_smf_bank_acts_tbl/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "update"
                }
            }
        },
        "/cfs_smf_configs_tbl/": {
            "get": {
                "operationId": "getCfs_smf_configs",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCfs_smf_configs"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCfs_smf_configs/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PostCfs_smf_address_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_address_id": {
                        "type": "integer"
                    },
                    "supplier_id": {
                        "type": "integer"
                    },
                    "request_id": {
                        "type": "integer"
                    },
                    "address_name": {
                        "type": "string"
                    },
                    "country_code": {
                        "nullable": true
                    },
                    "country": {
                        "type": "string"
                    },
                    "address_line1": {
                        "nullable": true
                    },
                    "address_line2": {
                        "nullable": true
                    },
                    "address_line3": {
                        "nullable": true
                    },
                    "address_line4": {
                        "nullable": true
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "nullable": true
                    },
                    "postal_code": {
                        "nullable": true
                    },
                    "postal_code_extension": {
                        "nullable": true
                    },
                    "province": {
                        "nullable": true
                    },
                    "county": {
                        "nullable": true
                    },
                    "building": {
                        "nullable": true
                    },
                    "floor_number": {
                        "nullable": true
                    },
                    "addressee": {
                        "nullable": true
                    },
                    "address_purpose_remit_to_flag": {
                        "nullable": true
                    },
                    "phone_country_code": {
                        "nullable": true
                    },
                    "phone_area_code": {
                        "nullable": true
                    },
                    "phone_number": {
                        "nullable": true
                    },
                    "phone_extension": {
                        "nullable": true
                    },
                    "fax_country_code": {
                        "nullable": true
                    },
                    "fax_area_code": {
                        "nullable": true
                    },
                    "fax_number": {
                        "nullable": true
                    },
                    "email": {
                        "nullable": true
                    },
                    "re_address_name": {
                        "nullable": true
                    },
                    "re_country_code": {
                        "nullable": true
                    },
                    "re_country": {
                        "nullable": true
                    },
                    "re_address_line1": {
                        "nullable": true
                    },
                    "re_address_line2": {
                        "nullable": true
                    },
                    "re_address_line3": {
                        "nullable": true
                    },
                    "re_address_line4": {
                        "nullable": true
                    },
                    "re_city": {
                        "nullable": true
                    },
                    "re_state": {
                        "nullable": true
                    },
                    "re_postal_code": {
                        "nullable": true
                    },
                    "re_postal_code_extension": {
                        "nullable": true
                    },
                    "re_province": {
                        "nullable": true
                    },
                    "re_county": {
                        "nullable": true
                    },
                    "re_building": {
                        "nullable": true
                    },
                    "re_floor_number": {
                        "nullable": true
                    },
                    "re_addressee": {
                        "nullable": true
                    },
                    "re_address_purpose_remit_to_flag": {
                        "nullable": true
                    },
                    "re_phone_country_code": {
                        "nullable": true
                    },
                    "re_phone_area_code": {
                        "nullable": true
                    },
                    "re_phone_number": {
                        "nullable": true
                    },
                    "re_phone_extension": {
                        "nullable": true
                    },
                    "re_fax_country_code": {
                        "nullable": true
                    },
                    "re_fax_area_code": {
                        "nullable": true
                    },
                    "re_fax_number": {
                        "nullable": true
                    },
                    "re_email": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "nullable": true
                    },
                    "last_updated_by": {
                        "nullable": true
                    },
                    "action_requested": {
                        "type": "string"
                    }
                }
            },
            "PostCfs_smf_supplier_header_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_id": {
                        "type": "string"
                    },
                    "supplier_number": {
                        "type": "string"
                    },
                    "party_id": {
                        "type": "string"
                    },
                    "supplier_type": {
                        "type": "string"
                    },
                    "supplier_name": {
                        "type": "string"
                    },
                    "alternate_name": {
                        "type": "string"
                    },
                    "tax_organization_type": {
                        "type": "string"
                    },
                    "inactive_date": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "business_relationship": {
                        "type": "string"
                    },
                    "parent_supplier": {
                        "type": "string"
                    },
                    "change_description": {
                        "type": "string"
                    },
                    "alias": {
                        "type": "string"
                    },
                    "tax_registration_country": {
                        "type": "string"
                    },
                    "tax_registration_number": {
                        "type": "string"
                    },
                    "federal_reportable_flag": {
                        "type": "string"
                    },
                    "federal_income_taxtype_code": {
                        "type": "string"
                    },
                    "federal_income_taxtype": {
                        "type": "string"
                    },
                    "request_id": {
                        "type": "string"
                    },
                    "creation_date": {
                        "type": "string"
                    },
                    "last_update_date": {
                        "type": "string"
                    },
                    "created_by": {
                        "type": "string"
                    },
                    "last_updated_by": {
                        "type": "string"
                    },
                    "re_supplier_name": {
                        "type": "string"
                    },
                    "re_alternate_name": {
                        "type": "string"
                    },
                    "re_tax_organization_type": {
                        "type": "string"
                    },
                    "re_inactive_date": {
                        "type": "string"
                    },
                    "re_parent_supplier": {
                        "type": "string"
                    },
                    "re_alias": {
                        "type": "string"
                    },
                    "re_tax_registration_country": {
                        "type": "string"
                    },
                    "re_tax_registration_number": {
                        "type": "string"
                    },
                    "re_federal_reportable_flag": {
                        "type": "string"
                    },
                    "re_federal_income_taxtype_code": {
                        "type": "string"
                    },
                    "re_federal_income_taxtype": {
                        "type": "string"
                    },
                    "taxpayer_country": {
                        "type": "string"
                    },
                    "taxpayer_id": {
                        "type": "string"
                    },
                    "re_taxpayer_country": {
                        "type": "string"
                    },
                    "re_taxpayer_id": {
                        "type": "string"
                    },
                    "state_reportable_flag": {
                        "type": "string"
                    },
                    "re_state_reportable_flag": {
                        "type": "string"
                    },
                    "classification_not_applicable_flag": {
                        "type": "string"
                    }
                }
            },
            "PutCfs_smf_supplier_header_tblSupplierIdRequestIdRequest": {
                "type": "object",
                "properties": {
                    "supplier_number": {
                        "type": "string"
                    },
                    "party_id": {
                        "type": "integer"
                    },
                    "supplier_type": {
                        "type": "string"
                    },
                    "supplier_name": {
                        "type": "string"
                    },
                    "alternate_name": {
                        "type": "string"
                    },
                    "tax_organization_type": {
                        "type": "string"
                    },
                    "inactive_date": {
                        "nullable": true
                    },
                    "status": {
                        "type": "string"
                    },
                    "business_relationship": {
                        "type": "string"
                    },
                    "parent_supplier": {
                        "nullable": true
                    },
                    "change_description": {
                        "type": "string"
                    },
                    "alias": {
                        "type": "string"
                    },
                    "tax_registration_country": {
                        "nullable": true
                    },
                    "tax_registration_number": {
                        "nullable": true
                    },
                    "federal_reportable_flag": {
                        "type": "string"
                    },
                    "federal_income_taxtype_code": {
                        "nullable": true
                    },
                    "federal_income_taxtype": {
                        "nullable": true
                    },
                    "state_reportable_flag": {
                        "type": "string"
                    },
                    "re_supplier_name": {
                        "nullable": true
                    },
                    "re_alternate_name": {
                        "nullable": true
                    },
                    "re_tax_organization_type": {
                        "nullable": true
                    },
                    "re_inactive_date": {
                        "nullable": true
                    },
                    "re_parent_supplier": {
                        "nullable": true
                    },
                    "re_alias": {
                        "nullable": true
                    },
                    "re_tax_registration_country": {
                        "nullable": true
                    },
                    "re_tax_registration_number": {
                        "nullable": true
                    },
                    "re_federal_reportable_flag": {
                        "nullable": true
                    },
                    "re_federal_income_taxtype_code": {
                        "nullable": true
                    },
                    "re_federal_income_taxtype": {
                        "nullable": true
                    },
                    "taxpayer_country": {
                        "type": "string"
                    },
                    "taxpayer_id": {
                        "type": "string"
                    },
                    "re_taxpayer_country": {
                        "nullable": true
                    },
                    "re_taxpayer_id": {
                        "nullable": true
                    },
                    "re_state_reportable_flag": {
                        "nullable": true
                    },
                    "creation_date": {
                        "type": "string"
                    },
                    "last_update_date": {
                        "type": "string"
                    },
                    "created_by": {
                        "type": "string"
                    },
                    "last_updated_by": {
                        "type": "string"
                    },
                    "classification_not_applicable_flag": {
                        "type": "string"
                    }
                }
            },
            "PostCfs_smf_sites_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_site_id": {
                        "type": "string"
                    },
                    "supplier_id": {
                        "type": "string"
                    },
                    "request_id": {
                        "type": "integer"
                    },
                    "supplier_site": {
                        "type": "string"
                    },
                    "procurement_bu_id": {
                        "nullable": true
                    },
                    "procurement_bu": {
                        "nullable": true
                    },
                    "supplier_address_id": {
                        "nullable": true
                    },
                    "supplier_address_name": {
                        "nullable": true
                    },
                    "inactive_date": {
                        "nullable": true
                    },
                    "site_status": {
                        "nullable": true
                    },
                    "site_purpose_pay_flag": {
                        "nullable": true
                    },
                    "site_purpose_primary_pay_flag": {
                        "nullable": true
                    },
                    "nuclear_qualified": {
                        "nullable": true
                    },
                    "status_reason_code": {
                        "nullable": true
                    },
                    "alternate_site_name": {
                        "nullable": true
                    },
                    "income_tax_reporting_site_flag": {
                        "nullable": true
                    },
                    "invoice_currency_code": {
                        "nullable": true
                    },
                    "payment_currency_code": {
                        "nullable": true
                    },
                    "invoice_amount_limit": {
                        "nullable": true
                    },
                    "hold_all_invoices_flag": {
                        "nullable": true
                    },
                    "hold_unvalidated_invoices_flag": {
                        "nullable": true
                    },
                    "payment_hold_reason": {
                        "nullable": true
                    },
                    "payment_terms": {
                        "nullable": true
                    },
                    "payment_terms_id": {
                        "nullable": true
                    },
                    "payment_terms_date_basis": {
                        "nullable": true
                    },
                    "payment_terms_date_basis_code": {
                        "nullable": true
                    },
                    "pay_date_basis": {
                        "nullable": true
                    },
                    "pay_date_basis_code": {
                        "nullable": true
                    },
                    "payment_method": {
                        "nullable": true
                    },
                    "remittance_delivery_method": {
                        "nullable": true
                    },
                    "remittance_delivery_email": {
                        "nullable": true
                    },
                    "client_bu": {
                        "nullable": true
                    },
                    "client_bu_id": {
                        "nullable": true
                    },
                    "bill_to_bu": {
                        "nullable": true
                    },
                    "bill_to_bu_id": {
                        "nullable": true
                    },
                    "re_supplier_site": {
                        "nullable": true
                    },
                    "re_procurement_bu_id": {
                        "nullable": true
                    },
                    "re_procurement_bu": {
                        "nullable": true
                    },
                    "re_supplier_address_id": {
                        "nullable": true
                    },
                    "re_supplier_address_name": {
                        "nullable": true
                    },
                    "re_inactive_date": {
                        "nullable": true
                    },
                    "re_site_status": {
                        "nullable": true
                    },
                    "re_site_purpose_pay_flag": {
                        "nullable": true
                    },
                    "re_site_purpose_primary_pay_flag": {
                        "nullable": true
                    },
                    "re_nuclear_qualified": {
                        "nullable": true
                    },
                    "re_status_reason_code": {
                        "nullable": true
                    },
                    "re_alternate_site_name": {
                        "nullable": true
                    },
                    "re_income_tax_reporting_site_flag": {
                        "nullable": true
                    },
                    "re_invoice_currency_code": {
                        "nullable": true
                    },
                    "re_payment_currency_code": {
                        "nullable": true
                    },
                    "re_invoice_amount_limit": {
                        "nullable": true
                    },
                    "re_hold_all_invoices_flag": {
                        "nullable": true
                    },
                    "re_hold_unvalidated_invoices_flag": {
                        "nullable": true
                    },
                    "re_payment_hold_reason": {
                        "nullable": true
                    },
                    "re_payment_terms": {
                        "nullable": true
                    },
                    "re_payment_terms_id": {
                        "nullable": true
                    },
                    "re_payment_terms_date_basis": {
                        "nullable": true
                    },
                    "re_payment_terms_date_basis_code": {
                        "nullable": true
                    },
                    "re_pay_date_basis": {
                        "nullable": true
                    },
                    "re_pay_date_basis_code": {
                        "nullable": true
                    },
                    "re_payment_method": {
                        "nullable": true
                    },
                    "re_remittance_delivery_method": {
                        "nullable": true
                    },
                    "re_remittance_delivery_email": {
                        "nullable": true
                    },
                    "re_client_bu": {
                        "nullable": true
                    },
                    "re_client_bu_id": {
                        "nullable": true
                    },
                    "re_bill_to_bu": {
                        "nullable": true
                    },
                    "re_bill_to_bu_id": {
                        "nullable": true
                    },
                    "action_requested": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "nullable": true
                    },
                    "last_updated_by": {
                        "nullable": true
                    },
                    "payee_id": {
                        "nullable": true
                    }
                }
            },
            "PostCfs_smf_requests_tblRequest": {
                "type": "object",
                "properties": {
                    "request_id": {
                        "type": "integer"
                    },
                    "status": {
                        "nullable": true
                    },
                    "requestor": {
                        "nullable": true
                    },
                    "request_date": {
                        "nullable": true
                    },
                    "approver": {
                        "nullable": true
                    },
                    "approval_date": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "nullable": true
                    },
                    "last_updated_by": {
                        "nullable": true
                    },
                    "supplier_id": {
                        "type": "string"
                    },
                    "approver_comment": {
                        "nullable": true
                    },
                    "resubmitted_on": {
                        "nullable": true
                    },
                    "approved_rejected_name": {
                        "nullable": true
                    },
                    "requestor_name": {
                        "nullable": true
                    }
                }
            },
            "PutCfs_smf_requests_tblRequestIdRequest": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "requestor": {
                        "type": "string"
                    },
                    "request_date": {
                        "nullable": true
                    },
                    "approver": {
                        "type": "string"
                    },
                    "approval_date": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "type": "string"
                    },
                    "last_updated_by": {
                        "type": "string"
                    },
                    "supplier_id": {
                        "type": "string"
                    },
                    "approver_comment": {
                        "type": "string"
                    }
                }
            },
            "PostCfs_smf_suppliers_dff_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_id": {
                        "type": "string"
                    },
                    "request_id": {
                        "type": "string"
                    },
                    "legal_structure": {
                        "type": "string"
                    },
                    "exelon_poc": {
                        "type": "string"
                    },
                    "employee_liability_value": {
                        "type": "string"
                    },
                    "employer_liability_expiration_date": {
                        "type": "string"
                    },
                    "general_liability_value": {
                        "type": "string"
                    },
                    "general_liability_expiration_date": {
                        "type": "string"
                    },
                    "auto_liability_value": {
                        "type": "string"
                    },
                    "auto_liability_expiration_date": {
                        "type": "string"
                    },
                    "excess_umbrella_liability_value": {
                        "type": "string"
                    },
                    "excess_umbrella_liability_expiration_date": {
                        "type": "string"
                    },
                    "workers_comp_liability_value": {
                        "type": "string"
                    },
                    "workers_comp_liability_expiration_date": {
                        "type": "string"
                    },
                    "professional_liability_value": {
                        "type": "string"
                    },
                    "professional_liability_expiration_date": {
                        "type": "string"
                    },
                    "environ_pollution_liability_value": {
                        "type": "string"
                    },
                    "environ_pollution_liability_expiration_date": {
                        "type": "string"
                    },
                    "miscellaneous_liability_insurance_value": {
                        "type": "string"
                    },
                    "miscellaneous_insurance_expiration_date": {
                        "type": "string"
                    },
                    "additional_insured": {
                        "type": "string"
                    },
                    "policies_are_primary": {
                        "type": "string"
                    },
                    "supplier_insurance_waiver_of_subrogation": {
                        "type": "string"
                    },
                    "re_legal_structure": {
                        "type": "string"
                    },
                    "re_exelon_poc": {
                        "type": "string"
                    },
                    "re_employee_liability_value": {
                        "type": "string"
                    },
                    "re_employer_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_general_liability_value": {
                        "type": "string"
                    },
                    "re_general_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_auto_liability_value": {
                        "type": "string"
                    },
                    "re_auto_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_excess_umbrella_liability_value": {
                        "type": "string"
                    },
                    "re_excess_umbrella_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_workers_comp_liability_value": {
                        "type": "string"
                    },
                    "re_workers_comp_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_professional_liability_value": {
                        "type": "string"
                    },
                    "re_professional_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_environ_pollution_liability_value": {
                        "type": "string"
                    },
                    "re_environ_pollution_liability_expiration_date": {
                        "type": "string"
                    },
                    "re_miscellaneous_liability_insurance_value": {
                        "type": "string"
                    },
                    "re_miscellaneous_insurance_expiration_date": {
                        "type": "string"
                    },
                    "re_additional_insured": {
                        "type": "string"
                    },
                    "re_policies_are_primary": {
                        "type": "string"
                    },
                    "re_supplier_insurance_waiver_of_subrogation": {
                        "type": "string"
                    },
                    "creation_date": {
                        "type": "string"
                    },
                    "last_update_date": {
                        "type": "string"
                    },
                    "created_by": {
                        "type": "string"
                    },
                    "last_updated_by": {
                        "type": "string"
                    },
                    "api_response": {
                        "type": "string"
                    }
                }
            },
            "PutCfs_smf_suppliers_dff_tblSupplierIdRequestIdRequest": {
                "type": "object",
                "properties": {
                    "legal_structure": {
                        "type": "string"
                    },
                    "exelon_poc": {
                        "nullable": true
                    },
                    "employee_liability_value": {
                        "type": "string"
                    },
                    "employer_liability_expiration_date": {
                        "type": "string"
                    },
                    "general_liability_value": {
                        "type": "string"
                    },
                    "general_liability_expiration_date": {
                        "type": "string"
                    },
                    "auto_liability_value": {
                        "type": "string"
                    },
                    "auto_liability_expiration_date": {
                        "type": "string"
                    },
                    "excess_umbrella_liability_value": {
                        "type": "string"
                    },
                    "excess_umbrella_liability_expiration_date": {
                        "type": "string"
                    },
                    "workers_comp_liability_value": {
                        "type": "string"
                    },
                    "workers_comp_liability_expiration_date": {
                        "type": "string"
                    },
                    "professional_liability_value": {
                        "type": "string"
                    },
                    "professional_liability_expiration_date": {
                        "type": "string"
                    },
                    "environ_pollution_liability_value": {
                        "type": "string"
                    },
                    "environ_pollution_liability_expiration_date": {
                        "type": "string"
                    },
                    "miscellaneous_liability_insurance_value": {
                        "type": "string"
                    },
                    "miscellaneous_insurance_expiration_date": {
                        "type": "string"
                    },
                    "additional_insured": {
                        "type": "string"
                    },
                    "policies_are_primary": {
                        "type": "string"
                    },
                    "supplier_insurance_waiver_of_subrogation": {
                        "type": "string"
                    },
                    "re_legal_structure": {
                        "type": "string"
                    },
                    "re_exelon_poc": {
                        "nullable": true
                    },
                    "re_employee_liability_value": {
                        "type": "string"
                    },
                    "re_employer_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_general_liability_value": {
                        "nullable": true
                    },
                    "re_general_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_auto_liability_value": {
                        "nullable": true
                    },
                    "re_auto_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_excess_umbrella_liability_value": {
                        "nullable": true
                    },
                    "re_excess_umbrella_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_workers_comp_liability_value": {
                        "nullable": true
                    },
                    "re_workers_comp_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_professional_liability_value": {
                        "nullable": true
                    },
                    "re_professional_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_environ_pollution_liability_value": {
                        "nullable": true
                    },
                    "re_environ_pollution_liability_expiration_date": {
                        "nullable": true
                    },
                    "re_miscellaneous_liability_insurance_value": {
                        "nullable": true
                    },
                    "re_miscellaneous_insurance_expiration_date": {
                        "nullable": true
                    },
                    "re_additional_insured": {
                        "nullable": true
                    },
                    "re_policies_are_primary": {
                        "nullable": true
                    },
                    "re_supplier_insurance_waiver_of_subrogation": {
                        "nullable": true
                    },
                    "creation_date": {
                        "type": "string"
                    },
                    "last_update_date": {
                        "type": "string"
                    },
                    "created_by": {
                        "type": "string"
                    },
                    "last_updated_by": {
                        "type": "string"
                    },
                    "api_response": {
                        "nullable": true
                    }
                }
            },
            "PostCfs_smf_contacts_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_contact_id": {
                        "type": "string"
                    },
                    "supplier_id": {
                        "type": "string"
                    },
                    "request_id": {
                        "type": "string"
                    },
                    "salutation_code": {
                        "nullable": true
                    },
                    "salutation": {
                        "nullable": true
                    },
                    "first_name": {
                        "nullable": true
                    },
                    "last_name": {
                        "nullable": true
                    },
                    "job_title": {
                        "nullable": true
                    },
                    "administrative_contact_flag": {
                        "nullable": true
                    },
                    "phone_country_code": {
                        "nullable": true
                    },
                    "phone_area_code": {
                        "nullable": true
                    },
                    "phone_number": {
                        "nullable": true
                    },
                    "phone_extension": {
                        "nullable": true
                    },
                    "fax_country_code": {
                        "nullable": true
                    },
                    "fax_area_code": {
                        "nullable": true
                    },
                    "fax_number": {
                        "nullable": true
                    },
                    "mobile_country_code": {
                        "nullable": true
                    },
                    "mobile_area_code": {
                        "nullable": true
                    },
                    "mobile_number": {
                        "nullable": true
                    },
                    "email": {
                        "nullable": true
                    },
                    "inactive_date": {
                        "nullable": true
                    },
                    "address_name": {
                        "nullable": true
                    },
                    "re_salutation_code": {
                        "nullable": true
                    },
                    "re_salutation": {
                        "nullable": true
                    },
                    "re_first_name": {
                        "nullable": true
                    },
                    "re_last_name": {
                        "nullable": true
                    },
                    "re_job_title": {
                        "nullable": true
                    },
                    "re_administrative_contact_flag": {
                        "nullable": true
                    },
                    "re_phone_country_code": {
                        "nullable": true
                    },
                    "re_phone_area_code": {
                        "nullable": true
                    },
                    "re_phone_number": {
                        "nullable": true
                    },
                    "re_phone_extension": {
                        "nullable": true
                    },
                    "re_fax_country_code": {
                        "nullable": true
                    },
                    "re_fax_area_code": {
                        "nullable": true
                    },
                    "re_fax_number": {
                        "nullable": true
                    },
                    "re_mobile_country_code": {
                        "nullable": true
                    },
                    "re_mobile_area_code": {
                        "nullable": true
                    },
                    "re_mobile_number": {
                        "nullable": true
                    },
                    "re_email": {
                        "nullable": true
                    },
                    "re_inactive_date": {
                        "nullable": true
                    },
                    "re_status": {
                        "nullable": true
                    },
                    "re_address_name": {
                        "nullable": true
                    },
                    "action_requested": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "nullable": true
                    },
                    "last_updated_by": {
                        "nullable": true
                    },
                    "status": {
                        "type": "string"
                    }
                }
            },
            "PostCfs_smf_bus_classifications_tblRequest": {
                "type": "object",
                "properties": {
                    "classification_id": {
                        "type": "string"
                    },
                    "supplier_id": {
                        "type": "string"
                    },
                    "request_id": {
                        "type": "string"
                    },
                    "classification": {
                        "type": "string"
                    },
                    "certifying_agency_id": {
                        "type": "string"
                    },
                    "certifying_agency": {
                        "type": "string"
                    },
                    "other_certifying_agency": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "certificate": {
                        "type": "string"
                    },
                    "expiration_date": {
                        "nullable": true
                    },
                    "re_classification": {
                        "type": "string"
                    },
                    "re_certifying_agency_id": {
                        "type": "string"
                    },
                    "re_certifying_agency": {
                        "type": "string"
                    },
                    "re_other_certifying_agency": {
                        "type": "string"
                    },
                    "re_status": {
                        "type": "string"
                    },
                    "re_certificate": {
                        "type": "string"
                    },
                    "re_expiration_date": {
                        "nullable": true
                    },
                    "action_requested": {
                        "type": "string"
                    },
                    "created_by": {
                        "type": "string"
                    },
                    "last_updated_by": {
                        "type": "string"
                    }
                }
            },
            "PostCfs_smf_bank_acts_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_site_id": {
                        "type": "integer"
                    },
                    "supplier_id": {
                        "type": "integer"
                    },
                    "request_id": {
                        "type": "integer"
                    },
                    "account_number": {
                        "nullable": true
                    },
                    "allow_international_payments": {
                        "nullable": true
                    },
                    "bank": {
                        "nullable": true
                    },
                    "bank_branch": {
                        "nullable": true
                    },
                    "country": {
                        "nullable": true
                    },
                    "currency": {
                        "nullable": true
                    },
                    "iban": {
                        "nullable": true
                    },
                    "inactive_on": {
                        "nullable": true
                    },
                    "primary_flag": {
                        "nullable": true
                    },
                    "re_account_number": {
                        "nullable": true
                    },
                    "re_allow_international_payments": {
                        "nullable": true
                    },
                    "re_bank": {
                        "nullable": true
                    },
                    "re_bank_branch": {
                        "nullable": true
                    },
                    "re_country": {
                        "nullable": true
                    },
                    "re_currency": {
                        "nullable": true
                    },
                    "re_iban": {
                        "nullable": true
                    },
                    "re_inactive_on": {
                        "nullable": true
                    },
                    "re_primary_flag": {
                        "nullable": true
                    },
                    "action_requested": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "nullable": true
                    },
                    "last_updated_by": {
                        "nullable": true
                    },
                    "update_unpaid_invoices": {
                        "nullable": true
                    },
                    "re_update_unpaid_invoices": {
                        "nullable": true
                    },
                    "supplier_site": {
                        "nullable": true
                    },
                    "account_id": {
                        "type": "string"
                    },
                    "api_response": {
                        "nullable": true
                    },
                    "bank_branch_id": {
                        "nullable": true
                    },
                    "bank_id": {
                        "nullable": true
                    },
                    "re_bank_id": {
                        "nullable": true
                    },
                    "re_bank_branch_id": {
                        "nullable": true
                    }
                }
            },
            "PostCfs_smf_contact_add_tblRequest": {
                "type": "object",
                "properties": {
                    "supplier_contact_address_id": {
                        "nullable": true
                    },
                    "supplier_contact_id": {
                        "nullable": true
                    },
                    "supplier_id": {
                        "nullable": true
                    },
                    "address_name": {
                        "nullable": true
                    },
                    "request_id": {
                        "nullable": true
                    },
                    "action_requested": {
                        "nullable": true
                    },
                    "creation_date": {
                        "nullable": true
                    },
                    "last_update_date": {
                        "nullable": true
                    },
                    "created_by": {
                        "nullable": true
                    },
                    "last_updated_by": {
                        "nullable": true
                    }
                }
            },
            "PostCfs_smf_delete_tblsRequest": {
                "type": "object",
                "properties": {
                    "p_in_request_id": {
                        "nullable": true
                    }
                }
            },
            "GetCfs_smf_configs": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "config_code": {
                                    "type": "string"
                                },
                                "config_value": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
[...]
