{
    "openapi": "3.0.0",
    "info": {
        "title": "FscmRestApi 11.13.18.05",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://fa-etsw-dev1-saasfaprod1.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05",
            "description": "FscmRestApi 11.13.18.05",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "propagate"
                    }
                },
                "forceProxy": "always"
            }
        }
    ],
    "paths": {
        "/externalBankAccounts/{PayementInstrumentId}": {
            "parameters": [
                {
                    "name": "PayementInstrumentId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getExternalBankAccountsPayementInstrumentId",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetExternalBankAccountsPayementInstrumentId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getExternalBankAccountsPayementInstrumentId/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/commonLookups/CFS_SMF_ADDRESS VALIDATION/child/lookupCodes": {
        },
        "/suppliers/{SupplierId}/child/businessClassifications": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierIdChildBusinessClassifications",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "25"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildBusinessClassifications"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierIdChildBusinessClassifications/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/cashBankBranches": {
        },
        "/cashBanks/": {
        },
        "/suppliers/{SupplierId}/child/contacts": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierIdChildContacts",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "25"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildContacts"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierIdChildContacts/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}/child/contacts/{SupplierContactId}": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "SupplierContactId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getOneContact",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildContactsSupplierContactId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getOneContact/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}/child/contacts/{SupplierContactId}/child/addresses": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "SupplierContactId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getAllAddresses",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildContactsSupplierContactIdChildAddresses"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getAllAddresses/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}/child/sites": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierIdChildSites",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildSites"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierIdChildSites/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}/child/sites/{SupplierSiteId}": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "SupplierSiteId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getOneSupplierSite",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildSitesSupplierSiteId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getOneSupplierSite/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/standardLookups/POZ_VENDOR_TYPE/child/lookupCodes/{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSupplierTypeLookupCodesQ",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStandardLookupsPOZ_VENDOR_TYPEChildLookupCodesQ"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSupplierTypeLookupCodesQ/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/cashBankBranches/{BankBranchId}": {
            "parameters": [
                {
                    "name": "BankBranchId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/itemCategories": {
            "get": {
                "operationId": "getItemCategories2",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemCategories"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getItemCategories2/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/currenciesLOV": {
            "get": {
                "operationId": "getCurrenciesLOV",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCurrenciesLOV"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCurrenciesLOV/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "queryParameters": {
                        "q": "EnabledFlag='Y'",
                        "limit": "500",
                        "orderBy": "CurrencyCode:asc"
                    },
                    "actionHint": "getMany"
                }
            }
        },
        "/paymentsExternalPayees/{PayeeId}/child/externalPartyPaymentMethods{q}": {
            "parameters": [
                {
                    "name": "PayeeId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "?q=PrimaryIndicator='Y'"
                    }
                }
            ],
            "get": {
                "operationId": "getPaymentsExternalPayeesPayeeIdChildExternalPartyPaymentMethods",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPaymentsExternalPayeesPayeeIdChildExternalPartyPaymentMethodsQ"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getPaymentsExternalPayeesPayeeIdChildExternalPartyPaymentMethods/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/disbursementPaymentMethodsLOV{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "?q=AutoPayeeAssignIndicator='Y';ApplicationId=222"
                    }
                }
            ]
        },
        "/paymentsExternalPayees/{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getPaymentsExternalPayeesQ",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPaymentsExternalPayeesQ"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getPaymentsExternalPayeesQ/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/finBusinessUnitsLOV": {
        },
        "/payablesIncomeTaxTypes": {
            "get": {
                "operationId": "getPayablesIncomeTaxTypes",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPayablesIncomeTaxTypes"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getPayablesIncomeTaxTypes/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "queryParameters": {
                        "limit": "500"
                    },
                    "actionHint": "getMany"
                }
            }
        },
        "/payablesPaymentTerms": {
        },
        "/suppliers/{SupplierId}/child/sites/{SupplierSiteId}/child/DFF": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "SupplierSiteId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierIdChildSitesSupplierSiteIdChildDFF",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildSitesSupplierSiteIdChildDFF"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierIdChildSitesSupplierSiteIdChildDFF/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/suppliers/{SupplierId}/child/addresses": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierIdChildAddresses",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "25"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildAddresses"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierIdChildAddresses/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}/child/addresses/{SupplierAddressId}": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "SupplierAddressId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getOneSupplierAddress",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildAddressesSupplierAddressId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getOneSupplierAddress/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/suppliers/{SupplierId}/child/contacts/{SupplierContactId}/child/DFF": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "SupplierContactId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSupplierContactDFF",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildContactsSupplierContactIdChildDFF"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSupplierContactDFF/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/suppliers/{SupplierId}/child/DFF": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierIdChildDFF",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildDFF"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierIdChildDFF/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getSuppliersSupplierId",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSuppliersSupplierId/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/commonLookups/CFS_SMF_BUSINESS UNIT/child/lookupCodes": {
        },
        "/valueSets/Legal Structure/child/values": {
        },
        "/standardLookups/POZ_PAY_DATE_BASIS/child/lookupCodes": {
            "get": {
                "operationId": "getPayDateBasisLOV",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStandardLookupsPOZ_PAY_DATE_BASISChildLookupCodes"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getPayDateBasisLOV/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "queryParameters": {
                        "q": "EnabledFlag='Y'"
                    },
                    "actionHint": "getMany"
                }
            }
        },
        "/valueSets/Status Reason Code/child/values": {
        },
        "/commonLookups/CFS_SMF_TERMS DATE BASIS/child/lookupCodes": {
        },
        "/suppliers/{SupplierId}/lov/TaxOrganizationTypeLookup": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getTaxOrganizationTypeLookup",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdLovTaxOrganizationTypeLookup"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getTaxOrganizationTypeLookup/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/suppliers/{SupplierId}/child/businessClassifications/{ClassificationId}": {
            "parameters": [
                {
                    "name": "SupplierId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "ClassificationId",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "getOneSupplierBusinessClassification",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSuppliersSupplierIdChildBusinessClassificationsClassificationId"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getOneSupplierBusinessClassification/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        },
        "/commonLookups/CFS_SMF_CERTIFYING AGENCIES/child/lookupCodes": {
        },
        "/paymentsExternalPayees{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "get11_13_18_05PaymentsExternalPayeesQ",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPaymentsExternalPayeesQ"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/get11_13_18_05PaymentsExternalPayeesQ/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/instrumentAssignments{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "operationId": "get11_13_18_05InstrumentAssignmentsQ",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetInstrumentAssignmentsQ"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/get11_13_18_05InstrumentAssignmentsQ/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/cashBankBranches{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "?finder=BankBranchSearchFinder;bindBranchName=\"011000138\""
                    }
                }
            ]
        },
        "/cashBanks{q}": {
            "parameters": [
                {
                    "name": "q",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/valueSets/YES_NO/child/values": {
        }
    },
    "components": {
        "schemas": {
            "GetExternalBankAccountsPayementInstrumentId": {
                "type": "object",
                "properties": {
                    "BankAccountNumber": {
                        "type": "string"
                    },
                    "CountryCode": {
                        "type": "string"
                    },
                    "BankBranchIdentifier": {
                        "type": "integer"
                    },
                    "BankIdentifier": {
                        "type": "integer"
                    },
                    "BankAccountId": {
                        "type": "integer"
                    },
                    "CurrencyCode": {
                        "nullable": true
                    },
                    "IBAN": {
                        "nullable": true
                    },
                    "CheckDigits": {
                        "nullable": true
                    },
                    "AccountType": {
                        "nullable": true
                    },
                    "AccountSuffix": {
                        "nullable": true
                    },
                    "AgencyLocationCode": {
                        "nullable": true
                    },
                    "AllowInternationalPaymentIndicator": {
                        "type": "string"
                    },
                    "SecondaryAccountReference": {
                        "nullable": true
                    },
                    "StartDate": {
                        "type": "string"
                    },
                    "EndDate": {
                        "type": "string"
                    },
                    "BankAccountName": {
                        "nullable": true
                    },
                    "AlternateAccountName": {
                        "nullable": true
                    },
                    "BankBranchPartyIndicator": {
                        "nullable": true
                    },
                    "BankName": {
                        "nullable": true
                    },
                    "BankNumber": {
                        "nullable": true
                    },
                    "BankBranchName": {
                        "nullable": true
                    },
                    "BankBranchNumber": {
                        "nullable": true
                    },
                    "BIC": {
                        "nullable": true
                    },
                    "VendorId": {
                        "nullable": true
                    },
                    "PersonId": {
                        "nullable": true
                    },
                    "Intent": {
                        "nullable": true
                    },
                    "PartyId": {
                        "nullable": true
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                },
                                "properties": {
                                    "type": "object",
                                    "properties": {
                                        "changeIndicator": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "GetCommonLookupsCFS_SMF_ADDRESSVALIDATIONChildLookupCodes": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "LookupCode": {
                                    "type": "string"
                                },
                                "Meaning": {
                                    "type": "string"
                                },
                                "Description": {
                                    "type": "string"
                                },
                                "EnabledFlag": {
                                    "type": "string"
                                },
                                "StartDateActive": {
                                    "nullable": true
                                },
                                "EndDateActive": {
                                    "nullable": true
                                },
                                "DisplaySequence": {
                                    "type": "integer"
                                },
                                "Tag": {
                                    "nullable": true
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "CreationDate": {
                                    "type": "string"
                                },
                                "LastUpdateDate": {
                                    "type": "string"
                                },
                                "LastUpdateLogin": {
                                    "type": "string"
                                },
                                "LastUpdatedBy": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetSuppliersSupplierIdChildBusinessClassifications": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {}
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetCashBankBranches": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "BankName": {
                                    "type": "string"
                                },
                                "BankNameAlt": {
                                    "nullable": true
                                },
                                "BranchPartyId": {
                                    "type": "integer"
                                },
                                "BankNumber": {
                                    "nullable": true
                                },
                                "BankBranchName": {
                                    "type": "string"
                                },
                                "BankBranchNameAlt": {
                                    "nullable": true
                                },
                                "BranchNumber": {
                                    "type": "string"
                                },
                                "Description": {
                                    "nullable": true
                                },
                                "EFTSWIFTCode": {
                                    "nullable": true
                                },
                                "EFTUserNumber": {
                                    "nullable": true
                                },
                                "EDIIdNumber": {
                                    "nullable": true
                                },
                                "EDILocation": {
                                    "nullable": true
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "CreationDate": {
                                    "type": "string"
                                },
                                "LastUpdateDate": {
                                    "type": "string"
                                },
                                "LastUpdateLogin": {
                                    "type": "string"
                                },
                                "LastUpdatedBy": {
                                    "type": "string"
                                },
                                "BankPartyNumber": {
                                    "type": "string"
                                },
                                "BranchPartyNumber": {
                                    "type": "string"
                                },
                                "CountryName": {
                                    "type": "string"
                                },
                                "RFCIdentifier": {
                                    "nullable": true
                                },
                                "BankBranchType": {
                                    "nullable": true
                                },
                                "BranchNumberType": {
                                    "nullable": true
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "changeIndicator": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetCashBanks": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "BankPartyId": {
                                    "type": "integer"
                                },
                                "BankName": {
                                    "type": "string"
                                },
                                "BankNameAlt": {
                                    "nullable": true
                                },
                                "BankNumber": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "Description": {
                                    "nullable": true
                                },
                                "TaxpayerIdNumber": {
                                    "nullable": true
                                },
                                "TaxRegistrationNumber": {
                                    "nullable": true
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "CreationDate": {
                                    "type": "string"
                                },
                                "LastUpdateDate": {
                                    "type": "string"
                                },
                                "LastUpdateLogin": {
                                    "type": "string"
                                },
                                "LastUpdatedBy": {
                                    "type": "string"
                                },
                                "BankPartyNumber": {
                                    "type": "string"
                                },
                                "CountryName": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "changeIndicator": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetSuppliersSupplierIdChildContacts": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "SupplierContactId": {
                                    "type": "integer"
                                },
                                "SalutationCode": {
                                    "nullable": true
                                },
                                "Salutation": {
                                    "nullable": true
                                },
                                "FirstName": {
                                    "type": "string"
                                },
                                "MiddleName": {
                                    "nullable": true
                                },
                                "LastName": {
                                    "type": "string"
                                },
                                "JobTitle": {
                                    "nullable": true
                                },
                                "AdministrativeContactFlag": {
                                    "type": "boolean"
                                },
                                "PhoneCountryCode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "PhoneAreaCode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "PhoneNumber": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "PhoneExtension": {
                                    "nullable": true
                                },
                                "MobileCountryCode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "MobileAreaCode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "MobileNumber": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "FaxCountryCode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "FaxAreaCode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "FaxNumber": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "Email": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "Status": {
                                    "type": "string"
                                },
                                "InactiveDate": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "PersonProfileId": {
                                    "type": "integer"
                                },
                                "CreationDate": {
                                    "type": "string"
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "LastUpdateDate": {
                                    "type": "string"
                                },
                                "LastUpdatedBy": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "changeIndicator": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetSuppliersSupplierIdChildContactsSupplierContactId": {
                "type": "object",
                "properties": {
                    "SupplierContactId": {
                        "type": "integer"
                    },
                    "SalutationCode": {
                        "nullable": true
                    },
                    "Salutation": {
                        "nullable": true
                    },
                    "FirstName": {
                        "type": "string"
                    },
                    "MiddleName": {
                        "nullable": true
                    },
                    "LastName": {
                        "type": "string"
                    },
                    "JobTitle": {
                        "nullable": true
                    },
                    "AdministrativeContactFlag": {
                        "type": "boolean"
                    },
                    "PhoneCountryCode": {
                        "type": "string"
                    },
                    "PhoneAreaCode": {
                        "type": "string"
                    },
                    "PhoneNumber": {
                        "type": "string"
                    },
                    "PhoneExtension": {
                        "nullable": true
                    },
                    "MobileCountryCode": {
                        "type": "string"
                    },
                    "MobileAreaCode": {
                        "type": "string"
                    },
                    "MobileNumber": {
                        "type": "string"
                    },
                    "FaxCountryCode": {
                        "type": "string"
                    },
                    "FaxAreaCode": {
                        "type": "string"
                    },
                    "FaxNumber": {
                        "type": "string"
                    },
                    "Email": {
                        "type": "string"
                    },
                    "Status": {
                        "type": "string"
                    },
                    "InactiveDate": {
                        "type": "string"
                    },
                    "PersonProfileId": {
                        "type": "integer"
                    },
                    "CreationDate": {
                        "type": "string"
                    },
                    "CreatedBy": {
                        "type": "string"
                    },
                    "LastUpdateDate": {
                        "type": "string"
                    },
                    "LastUpdatedBy": {
                        "type": "string"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                },
                                "properties": {
                                    "type": "object",
                                    "properties": {
                                        "changeIndicator": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "GetSuppliersSupplierIdChildContactsSupplierContactIdChildAddresses": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "SupplierContactAddressId": {
                                    "type": "integer"
                                },
                                "SupplierAddressId": {
                                    "type": "integer"
                                },
                                "AddressName": {
                                    "type": "string"
                                },
                                "CreationDate": {
                                    "type": "string"
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "LastUpdateDate": {
                                    "type": "string"
                                },
                                "LastUpdatedBy": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "changeIndicator": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetSuppliersSupplierIdChildSites": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "SupplierSiteId": {
                                    "type": "integer"
                                },
                                "SupplierSite": {
                                    "type": "string"
                                },
                                "ProcurementBUId": {
                                    "type": "integer"
                                },
                                "ProcurementBU": {
                                    "type": "string"
                                },
                                "SupplierAddressId": {
                                    "type": "integer"
                                },
                                "SupplierAddressName": {
                                    "type": "string"
                                },
                                "InactiveDate": {
                                    "nullable": true
                                },
                                "Status": {
                                    "type": "string"
                                },
                                "SitePurposeSourcingOnlyFlag": {
                                    "nullable": true
                                },
                                "SitePurposePurchasingFlag": {
                                    "nullable": true
                                },
                                "SitePurposeProcurementCardFlag": {
                                    "type": "boolean"
                                },
                                "SitePurposePayFlag": {
                                    "type": "boolean"
                                },
                                "SitePurposePrimaryPayFlag": {
                                    "nullable": true
                                },
                                "IncomeTaxReportingSiteFlag": {
                                    "type": "boolean"
                                },
                                "AlternateSiteName": {
                                    "nullable": true
                                },
                                "CustomerNumber": {
                                    "nullable": true
                                },
                                "B2BCommunicationMethodCode": {
                                    "type": "string"
                                },
                                "B2BCommunicationMethod": {
                                    "type": "string"
                                },
                                "B2BSupplierSiteCode": {
                                    "nullable": true
                                },
                                "CommunicationMethodCode": {
                                    "nullable": true
                                },
                                "CommunicationMethod": {
                                    "nullable": true
                                },
                                "Email": {
                                    "nullable": true
                                },
                                "FaxCountryCode": {
                                    "nullable": true
                                },
                                "FaxAreaCode": {
                                    "nullable": true
                                },
                                "FaxNumber": {
                                    "nullable": true
                                },
                                "HoldAllNewPurchasingDocumentsFlag": {
                                    "type": "boolean"
                                },
                                "PurchasingHoldReason": {
                                    "nullable": true
                                },
                                "AllNewPurchasingDocumentsHoldDate": {
                                    "nullable": true
                                },
                                "AllNewPurchasingDocumentsHoldBy": {
                                    "nullable": true
                                },
                                "RequiredAcknowledgmentCode": {
                                    "nullable": true
                                },
                                "RequiredAcknowledgment": {
                                    "nullable": true
                                },
                                "AcknowledgmentWithinDays": {
                                    "nullable": true
                                },
                                "CarrierId": {
                                    "nullable": true
                                },
                                "Carrier": {
                                    "nullable": true
                                },
                                "ModeOfTransportCode": {
                                    "nullable": true
                                },
                                "ModeOfTransport": {
                                    "nullable": true
                                },
                                "ServiceLevelCode": {
                                    "nullable": true
                                },
                                "ServiceLevel": {
                                    "nullable": true
                                },
                                "FreightTermsCode": {
                                    "nullable": true
                                },
                                "FreightTerms": {
                                    "nullable": true
                                },
                                "PayOnReceiptFlag": {
                                    "nullable": true
                                },
                                "FOBCode": {
                                    "nullable": true
                                },
                                "FOB": {
                                    "nullable": true
                                },
                                "CountryOfOriginCode": {
                                    "nullable": true
                                },
                                "CountryOfOrigin": {
                                    "nullable": true
                                },
                                "BuyerManagedTransportationCode": {
                                    "nullable": true
                                },
                                "BuyerManagedTransportation": {
                                    "nullable": true
                                },
                                "PayOnUseFlag": {
                                    "nullable": true
                                },
                                "AgingOnsetPointCode": {
                                    "nullable": true
                                },
                                "AgingOnsetPoint": {
                                    "nullable": true
                                },
                                "AgingPeriodDays": {
                                    "nullable": true
                                },
                                "ConsumptionAdviceFrequencyCode": {
                                    "nullable": true
                                },
                                "ConsumptionAdviceFrequency": {
                                    "nullable": true
                                },
                                "ConsumptionAdviceSummaryCode": {
                                    "nullable": true
                                },
                                "ConsumptionAdviceSummary": {
                                    "nullable": true
                                },
                                "AlternatePaySiteId": {
                                    "nullable": true
                                },
                                "AlternatePaySite": {
                                    "nullable": true
                                },
                                "InvoiceSummaryLevelCode": {
                                    "nullable": true
                                },
                                "InvoiceSummaryLevel": {
                                    "nullable": true
                                },
                                "GaplessInvoiceNumberingFlag": {
                                    "type": "boolean"
                                },
                                "SellingCompanyIdentifier": {
                                    "nullable": true
                                },
                                "CreateDebitMemoFromReturnFlag": {
                                    "type": "boolean"
                                },
                                "ShipToExceptionCode": {
                                    "nullable": true
                                },
                                "ShipToException": {
                                    "nullable": true
                                },
                                "ReceiptRoutingId": {
                                    "nullable": true
                                },
                                "ReceiptRouting": {
                                    "nullable": true
                                },
                                "OverReceiptTolerance": {
                                    "nullable": true
                                },
                                "OverReceiptActionCode": {
                                    "nullable": true
                                },
                                "OverReceiptAction": {
                                    "nullable": true
                                },
                                "EarlyReceiptToleranceInDays": {
                                    "nullable": true
                                },
                                "LateReceiptToleranceInDays": {
                                    "nullable": true
                                },
                                "AllowSubstituteReceiptsCode": {
                                    "nullable": true
                                },
                                "AllowSubstituteReceipts": {
                                    "nullable": true
                                },
                                "AllowUnorderedReceiptsFlag": {
                                    "nullable": true
                                },
                                "ReceiptDateExceptionCode": {
                                    "nullable": true
                                },
                                "ReceiptDateException": {
                                    "nullable": true
                                },
                                "InvoiceCurrencyCode": {
                                    "nullable": true
                                },
                                "InvoiceCurrency": {
                                    "nullable": true
                                },
                                "InvoiceAmountLimit": {
                                    "nullable": true
                                },
                                "InvoiceMatchOptionCode": {
                                    "nullable": true
                                },
                                "InvoiceMatchOption": {
                                    "nullable": true
                                },
                                "MatchApprovalLevelCode": {
                                    "nullable": true
                                },
                                "MatchApprovalLevel": {
                                    "nullable": true
                                },
                                "QuantityTolerancesId": {
                                    "nullable": true
                                },
                                "QuantityTolerances": {
                                    "nullable": true
                                },
                                "AmountTolerancesId": {
                                    "nullable": true
                                },
                                "AmountTolerances": {
                                    "nullable": true
                                },
                                "InvoiceChannelCode": {
                                    "nullable": true
                                },
                                "InvoiceChannel": {
                                    "nullable": true
                                },
                                "PaymentCurrencyCode": {
                                    "nullable": true
                                },
                                "PaymentCurrency": {
                                    "nullable": true
                                },
                                "PaymentPriority": {
                                    "nullable": true
                                },
                                "PayGroupCode": {
                                    "nullable": true
                                },
                                "PayGroup": {
                                    "nullable": true
                                },
                                "HoldAllInvoicesFlag": {
                                    "type": "boolean"
                                },
                                "HoldUnmatchedInvoicesCode": {
                                    "type": "string"
                                },
                                "HoldUnmatchedInvoices": {
                                    "type": "string"
                                },
                                "HoldUnvalidatedInvoicesFlag": {
                                    "type": "boolean"
                                },
                                "PaymentHoldDate": {
                                    "nullable": true
                                },
                                "PaymentHoldReason": {
                                    "nullable": true
                                },
                                "PaymentTermsId": {
                                    "nullable": true
                                },
                                "PaymentTerms": {
                                    "nullable": true
                                },
                                "PaymentTermsDateBasisCode": {
                                    "nullable": true
                                },
                                "PaymentTermsDateBasis": {
                                    "nullable": true
                                },
                                "PayDateBasisCode": {
                                    "nullable": true
                                },
                                "PayDateBasis": {
                                    "nullable": true
                                },
                                "BankChargeDeductionTypeCode": {
                                    "type": "string"
                                },
                                "BankChargeDeductionType": {
                                    "type": "string"
                                },
                                "AlwaysTakeDiscountCode": {
                                    "type": "string"
                                },
                                "AlwaysTakeDiscount": {
                                    "type": "string"
                                },
                                "ExcludeFreightFromDiscountCode": {
                                    "type": "string"
                                },
                                "ExcludeFreightFromDiscount": {
                                    "type": "string"
                                },
                                "ExcludeTaxFromDiscountCode": {
                                    "type": "string"
                                },
                                "ExcludeTaxFromDiscount": {
                                    "type": "string"
                                },
                                "CreateInterestInvoicesCode": {
                                    "type": "string"
                                },
                                "CreateInterestInvoices": {
                                    "type": "string"
                                },
                                "CreationDate": {
                                    "type": "string"
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "LastUpdateDate": {
                                    "type": "string"
                                },
                                "LastUpdatedBy": {
                                    "type": "string"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "changeIndicator": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetSuppliersSupplierIdChildSitesSupplierSiteId": {
                "type": "object",
                "properties": {
                    "SupplierSiteId": {
                        "type": "integer"
                    },
                    "SupplierSite": {
                        "type": "string"
                    },
                    "ProcurementBUId": {
                        "type": "integer"
                    },
                    "ProcurementBU": {
                        "type": "string"
                    },
                    "SupplierAddressId": {
                        "type": "integer"
                    },
                    "SupplierAddressName": {
                        "type": "string"
                    },
                    "InactiveDate": {
                        "nullable": true
                    },
                    "Status": {
                        "type": "string"
                    },
                    "SitePurposeSourcingOnlyFlag": {
                        "nullable": true
                    },
                    "SitePurposePurchasingFlag": {
                        "nullable": true
                    },
                    "SitePurposeProcurementCardFlag": {
                        "type": "boolean"
                    },
                    "SitePurposePayFlag": {
                        "type": "boolean"
                    },
[...]
